.container-ift {
    padding-top: 60px;
    padding-bottom: 110px;

    .ift-form{

        display: flex;
        flex-direction: column;

        .ift-block {
            background-color: #fff;
            margin-bottom: 20px;
            padding: 40px;

        }

        .btn-ift {
            margin-top: 30px;
            font-size: 1.5em;
            padding: 15px 50px;
            width: 255px;
        }

        @media (max-width:480px) {
            .btn-ift {
                padding: 15px 30px;
            }
        }
    }
}

.campagne-title {
    
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    
    h2 {
        font-size: 1.5em;
    }

    button {
        margin-bottom: 20px;
    }

}