<button class="donnez-mon-avis" (click)="showAvis($event)">Donnez votre avis&nbsp;&nbsp;
  <i class="icon icon-star" aria-hidden="true"></i>
</button>

<div *ngIf="avisIsVisible" class="modal show" role="dialog" autofocus tabindex="0">
  <div class="modal-dialog">
    <div class="modal-content">
      <form (ngSubmit)="onSubmit()">

        <div class="modal-header">
          <div class="close">
            <button type="button" class="btn" (click)="hideAvis()" aria-label="Fermer la fenêtre modale">
              <i class="icon icon-times" aria-hidden="true"></i>
            </button>
          </div>
          <h1 class="modal-title">Votre avis nous aide à progresser</h1>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <span class="bold" id="avis-slider">Comment avez-vous trouvé ce service ? </span>
              <app-star-slider [id]="'avis-slider'" [title]="'Comment avez-vous trouvé ce service ?'" (change)="setNote($event)"></app-star-slider>
            </div>

            <div class="col-sm-12">
              <label for="comment">Comment pourrions-nous l'améliorer ? </label>
              <textarea class="form-control" rows="5" id="comment" maxlength="1500" name="comment" [(ngModel)]="avis.commentaire"></textarea>
              <span class="help-block">Max 1500 caractères</span>
            </div>

            <div class="col-sm-12">
              <label for="contact">Si vous souhaitez être recontacté.e, laissez-nous vos coordonnées : </label>
              <textarea class="form-control" rows="2" id="contact" maxlength="1500" name="contact" [(ngModel)]="avis.contact"></textarea>
              <span class="help-block">Max 1500 caractères</span>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-default" (blur)="focus('.modal')" [disabled]="!avis.note">Je donne mon avis</button>
        </div>

      </form>
    </div>
  </div>
</div>