<section class="main-section bg-gray">
    <div class="container">
        <div class="mentions-legales">
            <h1>Informations et mentions légales</h1>
            <p>IFT, Indicateur de Fréquence de Traitements phytosanitaire, a pour objet de mettre à disposition des usagers
                du Ministère chargé de l'agriculture / Direction générale de la performance économique et environnementale
                des entreprises (DGPE) des services numériques (API) permettant d’exposer des données de référence, de calcul
                et de certification de l’IFT de façon anonyme & gratuite.</p>
            <p>IFT expose aussi :</p>
            <ul>
                <li>une application en ligne à destination des exploitants agricoles, conseillers agricoles et contrôleurs qui
                    implémente l’ensemble de ces services numériques,</li>
                <li>une application, à l’usage des agents du Ministère chargé de l'agriculture, qui permet de mettre à jour et
                    gérer la qualité des données.</li>
            </ul>
            <p>
                <strong>IFT</strong> est soumis aux informations et mentions légales de la loi pour la confiance dans l’économie
                numérique de 2004 (LCEN) et de la loi informatique et libertés de 1978. C’est un système homologué au sens
                du Référentiel général de sécurité.</p>
            <p>Références :</p>
            <ul>
                <li>Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés
                    <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000006068624&dateTexte=vig" target="_blank" rel="noopener"
                        title="lien - ouvre dans une nouvelle fenêtre">(lien)</a>
                    modifiée par la loi n° 2016-1321 du 7 octobre 2016 pour une république numérique
                    <a href="https://www.legifrance.gouv.fr/affichTexte.do;jsessionid=449E06A04D60108B1907B47EBC81CAAC.tplgfr39s_3?cidTexte=JORFTEXT000033202746&categorieLien=id"
                        target="_blank" rel="noopener" title="lien - ouvre dans une nouvelle fenêtre">(lien)</a>.</li>
                <li>Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique
                    <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000005789847&dateTexte=vig" target="_blank" rel="noopener"
                        title="lien - ouvre dans une nouvelle fenêtre">(lien)</a>.</li>
                <li>Ordonnance n° 2005‑1516 du 8 décembre 2005 relative aux échanges électroniques entre les usagers et les autorités
                    administratives et entre les autorités administratives
                    <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000636232&dateTexte=vig" target="_blank" rel="noopener"
                        title="lien - ouvre dans une nouvelle fenêtre">(lien)</a>.</li>
                <li>Note de service SG/SM/SDSI/MSSI/N2012‑1403 CAB/MD/N2012‑0004 du 28 mars 2012 relative à l’homologation de
                    sécurité des systèmes d’information.
                </li>
                <li>Arrêté du 13 juin 2014 portant approbation du référentiel général de sécurité et précisant les modalités
                    de mise en œuvre de la procédure de validation des certificats électroniques
                    <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000029122964&dateTexte=&categorieLien=id" target="_blank"
                        rel="noopener" title="lien - ouvre dans une nouvelle fenêtre">(lien)</a>.</li>
            </ul>

            <h1>Homologation de sécurité</h1>
            <p>
                <em>A venir</em>
            </p>

            <h1>Informations légales</h1>

            <h2>Identification de l'éditeur</h2>
            <p>
                <strong>Ministère chargé de l'agriculture</strong>
                <br />
                <strong>Direction générale de la performance économique et environnementale des entreprises / Service de la Compétitivité
                    et de la Performance Environnementale / Sous-direction de la Performance environnementale et valorisation
                    des territoires / Bureau de l'Eau, des Sols et de l'économie circulaire</strong>
                <br /> Adresse :
                <strong>3 rue Barbet de Jouy – 75349 Paris SP 07</strong>
                <br /> Téléphone :
                <strong>01 49 55 49 55</strong>
            </p>

            <h2>Directrice de la publication</h2>
            <p>
                <strong>Catherine Geslain-Lanéelle, Directrice générale de la DGPE</strong>
            </p>

            <h2>Réalisation, hébergement et exploitation</h2>
            <p>
                <strong>Ministère chargé de l'agriculture</strong>
                <br />
                <strong>Secrétariat général / Service de la modernisation / Sous-direction des systèmes d'information / Bureau de
                    l'ingénierie applicative</strong>
                <br /> Adresse :
                <strong>2, route de Narbonne – 31320 Auzeville Tolosane</strong>
                <br /> Téléphone :
                <strong>05 61 28 92 00</strong>
            </p>

            <h2>Traitement des données à caractère personnel</h2>
            <p>IFT n’opère aucun traitement sur des données à caractère personnel au sens de l’article 2 de la loi 78-17. De
                ce fait, et conformément à la réglementation sus citée, aucune procédure n’a été réalisée auprès de la CNIL
                et aucun droit d’accès ou de modification n’est disponible.</p>
            <p>L’utilisateur est informé que les informations qu’il communique font l’objet d’un traitement informatique destiné
                à réaliser le
                <strong>calcul et la certification de l’IFT de son traitement voire éditer un bilan phytosanitaire au format PDF
                    de sa parcelle agricole</strong>. Ces données seront conservées le temps nécessaire à l’accomplissement de cette finalité et sont
                destinées
                <strong>au bureau de l'Eau, des Sols et de l'Economie Circulaire</strong>.</p>
            <p>Pour plus d’informations, vous pouvez également contacter notre
                <strong>DPD</strong> (Délégué à la Protection des Données)
                <strong>monsieur Romuald OUDJANI
                </strong>, Service des Affaires Juridiques, par voie postale à l'adresse
                <strong>3, rue Barbet-de-Jouy - 75349 Paris SP 07</strong>, par téléphone au
                <strong>01 49 55 51 25</strong> ou par courriel à
                <strong>
                    <a href="mailto:romuald.oudjani@agriculture.gouv.fr">romuald.oudjani@agriculture.gouv.fr</a></strong>.</p>
            <p>Aussi, vous avez la faculté, pour des motifs légitimes, de vous opposer au traitement des données vous concernant
                et disposez du droit de retirer votre consentement à tout moment.</p>
            <p>En cas de constatation d’une violation de vos droits, vous pouvez introduire une réclamation auprès d’une autorité
                de contrôle.</p>

            <h2>Propriété intellectuelle</h2>
            <h3>Reproduction du contenu du site</h3>
            <p>Tous les contenus présents sur le site
                <strong>IFT</strong> sont couverts par le droit d’auteur, toute reprise est conditionnée à l’accord de l’auteur en
                vertu de l’article L.122-4 du Code de la Propriété Intellectuelle.</p>
            <p>Pour toute information et demande de reproduction d’un contenu paru sur le site (textes, graphiques, illustrations)
                quel qu’en soit le support, l’utilisateur est invité à adresser sa demande par mail à
                <strong>
                    <a href="mailto:calculette-ift.dgpaat@agriculture.gouv.fr">calculette-ift.dgpaat@agriculture.gouv.fr</a></strong>.</p>
            <p>La mention du site doit impérativement comporter :</p>
            <ul>
                <li>le titre associé au contenu,</li>
                <li>la paternité avec la source
                    <a href="http://alim.agriculture.gouv.fr/ift/">http://alim.agriculture.gouv.fr/ift/</a> ainsi que les organismes concernés :
                    <ul>
                        <li>Ministère de l'agriculture et de l'alimentation</li>
                        <li>Direction générale de la performance économique et environnementale des entreprises / Service Compétitivité
                            et performance environnementale / Sous-direction Performance environnementale et valorisation
                            des territoires / Bureau Eau, sols et économie circulaire
                        </li>
                        <li>IFT - Campagne concernée</li>
                    </ul>
                </li>
                <li>la date à laquelle le contenu a été extrait du site et l’indication de la licence sous laquelle le contenu
                    ou la donnée a été mis à disposition :
                    <strong>
                        <a href="https://www.gnu.org/licenses/gpl-3.0.fr.html" title="GnuGplV3 - ouvre dans une nouvelle fenêtre" target="_blank"
                            rel="noopener">GnuGplV3</a>
                    </strong> pour le code et
                    <strong>
                        <a href="https://www.etalab.gouv.fr/wp-content/uploads/2017/04/ETALAB-Licence-Ouverte-v2.0.pdf" title="Licence ouverte 2.0 - ouvre dans une nouvelle fenêtre"
                            target="_blank" rel="noopener">Licence ouverte 2.0</a>
                    </strong> pour les données.</li>
            </ul>
            <p>IFT est un outil mis à disposition gratuitement permettant la certification de calculs. IFT n’a pas de valeur
                probante au-delà de l’intégrité du calcul. Par conséquent ni ses auteurs, ni le Ministère de l’Agriculture
                et de l’Alimentation ne peuvent être tenus responsables lorsque l’irrégularité provient d’une erreur d’un
                internaute utilisant IFT.</p>

            <h3>Lien hypertexte</h3>
            <p>La création d’un lien hypertexte est autorisé.</p>
            <p>La mention explicite du site
                <strong>IFT</strong> dans l’intitulé du lien est impérative. Les pages du site ne doivent pas être imbriquées à l’intérieur
                des pages d’un autre site.
            </p>
            <p>Le ministère se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du
                site
                <strong>
                    <a href="http://alim.agriculture.gouv.fr/ift/">http://alim.agriculture.gouv.fr/ift/</a></strong>.</p>
            <p>Cette autorisation est valable pour tout support, à l’exception de ceux diffusant des informations à caractère
                polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.</p>

            <h3>Services programmatiques (API)</h3>
            <h4>Disponibilité</h4>
            <p>L’éditeur ne garantit pas que la plateforme fonctionne de manière ininterrompue, sécurisée ou qu’elle soit exempte
                d’erreurs. Les interventions de maintenance pourront être effectuées sans que les utilisateurs de
                <strong>
                    <a href="http://alim.agriculture.gouv.fr/ift/">http://alim.agriculture.gouv.fr/ift/</a>
                </strong>
                n’aient été préalablement avertis.</p>
            <p>L’éditeur ne peut être tenu pour responsable d’une éventuelle rupture de ce service ou d’un problème technique
                empêchant un utilisateur d’accéder au site
                <strong>
                    <a href="http://alim.agriculture.gouv.fr/ift/">http://alim.agriculture.gouv.fr/ift/</a></strong>.
            </p>
            <p>L’éditeur se réserve la possibilité de refuser l’accès aux services offerts par
                <strong>
                    <a href="http://alim.agriculture.gouv.fr/ift/">http://alim.agriculture.gouv.fr/ift/</a>
                </strong> en cas d’usage abusif ou de violation de dispositions législatives ou réglementaires en vigueur.</p>

            <h4>Ouverture des codes sources</h4>
            <p>Conformément à la Loi pour une République numérique du
                <a href="https://www.legifrance.gouv.fr/affichTexte.do;jsessionid=6E9C9BD1F4AAF6E6FD525E8FE902A615.tplgfr26s_2?cidTexte=JORFTEXT000033202746&categorieLien=id"
                    title="Loi pour une République numérique du 7 octobre 2016 - ouvre dans une nouvelle fenêtre" target="_blank"
                    rel="noopener">7 octobre 2016</a>, les codes sources des outils IFT dont l’API sont réutilisables et protégés par une
                <a href="https://www.gnu.org/licenses/gpl-3.0.fr.html" title="licence GNU GPL v3.0 - ouvre dans une nouvelle fenêtre" target="_blank"
                    rel="noopener">licence GNU GPL v3.0</a>. Ils sont disponibles à l’adresse suivante :
                <a href="https://github.com/minagri-initial" title="lien - ouvre dans une nouvelle fenêtre" target="_blank" rel="noopener">https://github.com/minagri-initial</a>.</p>
            <p class="danger-paragraph">LA PERSONNE OU L’ENTITÉ SOUHAITANT RÉUTILISER TOUT OU PARTIE DES CONTENUS ÉVOQUÉS CI-DESSUS S’ENGAGE À NE PAS
                LE FAIRE À DES FINS ILLICITES OU À MONÉTISER L’USAGE DU SERVICE.</p>

            <h2>Crédits</h2>
            <p>Le site internet et l’application IFT, disponibles à l’adresse
                <strong>
                    <a href="http://alim.agriculture.gouv.fr/ift/">http://alim.agriculture.gouv.fr/ift/</a></strong>, utilisent des contenus soumis aux licences libres. 
                    Vous trouverez dans les liens ci-dessous la liste des frameworks et bibliothèques utilisés :
            </p>
            <ul>
                <li>
                    <a href="https://github.com/minagri-initial/ift/blob/master/package.json" title="Frontend - ouvre dans une nouvelle fenêtre" target="_blank"
                        rel="noopener">Frontend</a>
                </li>
                <li>
                    <a href="https://github.com/minagri-initial/ift-api/blob/master/pom.xml" title="Backend - ouvre dans une nouvelle fenêtre" target="_blank"
                        rel="noopener">Backend</a>
                </li>
            </ul>
        </div>
    </div>
</section>