<section class="main-section bg-gray">
    <div class="container">
        <div class="mentions-legales">
        <h1>Informations et mentions légales</h1>
            <p><strong>IFT</strong> est soumis aux informations et mentions légales de la loi pour la confiance
                dans l’économie numérique de 2004 (LCEN) et de la loi informatique et libertés de 1978. C’est un système
                homologué au sens du Référentiel général de sécurité.</p>
            <p>Références :</p>
            <ul>
                <li>Loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés
                    <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000006068624&dateTexte=vig" target="_blank" title="lien - ouvre dans une nouvelle fenêtre">(lien)</a>
                    modifiée par la loi n° 2004-801 du 6 août 2004 relative à la protection des personnes physiques
                    à l'égard des traitements de données à caractère personnel
                    <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000441676&dateTexte=vig" target="_blank" title="lien - ouvre dans une nouvelle fenêtre">(lien)</a>.</li>
                <li>Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique
                    <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=LEGITEXT000005789847&dateTexte=vig" target="_blank" title="lien - ouvre dans une nouvelle fenêtre">(lien)</a>.</li>
                <li>Ordonnance n° 2005‑1516 du 8 décembre 2005 relative aux échanges électroniques
                    entre les usagers et les autorités administratives et entre les autorités administratives
                    <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000636232&dateTexte=vig" target="_blank" title="lien - ouvre dans une nouvelle fenêtre">(lien)</a>.</li>
                <li>Note de service SG/SM/SDSI/MSSI/N2012‑1403 CAB/MD/N2012‑0004 du 28 mars 2012 relative à
                    l’homologation de sécurité des systèmes d’information.</li>
                <li>Arrêté du 13 juin 2014 portant approbation du référentiel général de sécurité et précisant les
                    modalités de mise en œuvre de la procédure de validation des certificats électroniques
                    <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000029122964&dateTexte=&categorieLien=id" target="_blank" title="lien - ouvre dans une nouvelle fenêtre">(lien)</a>.</li>
            </ul>

            <h1>Homologation de sécurité</h1>
            <p><em>A venir</em></p>

            <h1>Informations légales</h1>

            <h2>Identification de l'éditeur</h2>
            <p><strong>Ministère en charge de l'agriculture</strong><br />
                <strong>Direction générale de la performance économique et environnementale des entreprises / Service Compétitivité et performance environnementale / Sous-direction Performance environnementale et valorisation des territoires / Bureau Eau, sols et économie circulaire</strong><br />
                <strong>3 rue Barbet de Jouy – 75349 Paris SP 07</strong><br />
                Téléphone : <strong>01 49 55 54 84</strong></p>

            <h2>Directrice de la publication</h2>
            <p><strong>Fanny Héraud, Chargée de mission ICPE et IFT.</strong></p>

            <h2>Réalisation, hébergement et exploitation</h2>
            <p><strong>Ministère en charge de l'agriculture</strong><br />
                <strong>Secrétariat général / Service de la modernisation / Sous-direction des systèmes
                    d'information / Bureau de l'ingénierie applicative</strong><br />
                <strong>2, route de Narbonne – 31320 Auzeville Tolosane</strong><br />
                Téléphone : <strong>05 61 28 92 00</strong></p>

            <h2>Droits de reproduction</h2>
            <p>Toute copie de pages de ce site doit avoir obtenu l’autorisation de la directrice de la publication.
                Toute création de lien est libre.</p>

            <h1>Traitement des données à caractère personnel</h1>
            <p><strong>IFT</strong> a fait l’objet d’une <strong>autorisation</strong> à la Commission
                nationale de l’informatique et des libertés (Cnil) sous le numéro <strong>XXX</strong>. Le
                responsable du traitement est la <strong>Direction générale de la performance économique et environnementale des entreprises</strong>.</p>
                <p>Les informations recueillies font l’objet d’un traitement informatique destiné à <strong>exposer des ressources numériques permettant de publier les référentiels nécessaires au calcul de l'IFT ainsi que le calcul lui-même et offrir une interface implémentant ces mêmes ressources.</strong></p>
            <p>Conformément à la loi informatique et libertés du 6 janvier 1978 modifiée en 2004, vous bénéficiez
                d’un droit d’accès, de modification et de rectification aux informations qui vous concernent, que
                vous pouvez exercer en vous adressant à <strong>au bureau Eau, sols et économie circulaire</strong> par voie postale
                à l’adresse <strong>3 rue Barbet de Jouy – 75349 Paris SP 07</strong> ou par courriel à
                <strong>calculette-ift.dgpaat@agriculture.gouv.fr</strong> en justifiant de votre identité.</p>
            <p>Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.</p>
        </div>
  </div>
</section>