<!-- Section: intro -->
<section #intro class="intro">
    <div class="slogan">
        <h1>Mon bilan IFT</h1>
    </div>
</section>
<!-- /Section: intro -->

<section class="main-section bg-gray">

    <div class="container container-ift" *ngIf="bilan">
        <div class="row campagne-block">
            <div class="col-md-10 col-md-offset-1 info-block">
                <p class="small">
                    <i class="icon icon-info-circle" aria-hidden="true"></i>&nbsp;&nbsp; Les données de vos traitements sont stockées uniquement sur votre navigateur. Si vous
                    changez de navigateur internet, les informations saisies seront perdues. Chaque bilan peut être
                    <strong>sauvegardé</strong>
                    sous la forme d'un document PDF puis
                    <strong>réimporté</strong> en cliquant sur le QR code du document sauvegardé.
                </p>
            </div>

            <div class="col-md-10 col-md-offset-1 ift-block">
                <h2>Sélectionnez la période</h2>
                <div class="campagne-title">
                    <div class="arrow">
                        <button class="btn-arrow" type="button" *ngIf="campagnes && campagneIndex !== 0" (click)="previousCampagne()">
                            <i class="icon icon-angle-left animated" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="text-center">Campagne {{ bilan.campagne ? bilan.campagne.libelle : '' }}</div>
                    <div class="arrow">
                        <button class="btn-arrow" type="button" *ngIf="campagnes && campagneIndex !== campagnes.length - 1" (click)="nextCampagne()">
                            <i class="icon icon-angle-right animated" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <app-liste-parcelles-cultivees [bilanParcellesCultivees]="bilan.bilanParcellesCultivees" [campagne]="bilan.campagne" [allowUpdate]="true"
            [allowDownload]="true" (onRefreshBilanParcelle)="refreshBilanParcelle($event)" (onSelectBilanParcelle)="refreshSelectedBilanParcelle($event)"></app-liste-parcelles-cultivees>

        <app-synthese [bilan]="selectedBilan"></app-synthese>
    </div>
</section>

<app-modal [headerTitle]="'Mon bilan IFT'">
    <div modal-body>
        <p>
            Le bilan d'IFT expose :
        </p>
        <ul>
            <li>
                l'IFT de chaque parcelle pour différents segments (herbicides, traitement de semences, biocontrôle, etc.) qui se calcule
                comme la somme des IFT traitements réalisés sur la parcelle au cours de la campagne culturale ;
            </li>
            <li>
                l'IFT par culture pour différents segments qui se calcule comme la moyenne des IFT parcelles correspondantes à la culture
                pondérée par la surface de chaque parcelle ;
            </li>
            <li>
                l'IFT par groupes de parcelles qui se calcule comme la moyenne des IFT parcelles appartenant au groupe pondérée par la surface
                de chaque parcelle.
            </li>
        </ul>
    </div>
</app-modal>