<div class="modal-header">
    <h1 class="modal-title pull-left">Traitement de la parcelle</h1>
    <div class="close">
        <button type="button" class="btn" (click)="bsModalRef.hide()" aria-label="Fermer la fenêtre modale">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class="modal-body">
    <div *ngIf="traitementParcelle">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 ift-block">
                <div class="form-group">
                    <label id="parcelle">Parcelle
                        <span class="sr-only"> Obligatoire</span>
                    </label>
                    <div class="typeahead">
                        <input [(ngModel)]="nomParcelle" name="parcelle" aria-labelledby="parcelle" [typeahead]="parcelles" [typeaheadMinLength]="0"
                            [typeaheadOptionsLimit]="7" class="form-control input-lg" placeholder="Nom de la parcelle" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label id="date">Date du traitement
                        <span class="sr-only"> Obligatoire</span>
                    </label>
                    <input type="text" required="true" name="date" aria-labelledby="date" class="form-control input-lg datepicker" #dp="bsDatepicker"
                        bsDatepicker [(bsValue)]="date" [bsConfig]="datePickerConfig" placeholder="JJ/MM/AAAA">
                </div>
            </div>
        </div>
        <app-traitement-ift #traitementIft [traitement]="traitementParcelle.iftTraitement" name="traitement-ift"></app-traitement-ift>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-default" (click)="submit()">Valider</button>
</div>