<form class="ift-form" #iftForm="ngForm">
    <div *ngIf="traitementIft">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 ift-block">
                <app-culture-field [(ngModel)]="traitementIft.culture" name="culture" [campagne]="traitementIft.campagne" [numeroAmm]="traitementIft.numeroAmm"
                    [cible]="traitementIft.cible" (ngModelChange)="updateDoseReference()" [required]="true" #culture="ngModel">
                </app-culture-field>

                <app-traitement-field [(ngModel)]="traitementIft.traitement" name="traitement" required="true">
                </app-traitement-field>

                <div [ngClass]="{ 'hidden' : !traitementIft.traitement || isTraitementAvantSemis()}">

                <div [ngClass]="{ 'hidden': !numeroAmmByProduct}">
                    <app-produit-field [(ngModel)]="traitementIft.produit" name="produit" [campagne]="traitementIft.campagne" [culture]="traitementIft.culture"
                        [cible]="traitementIft.cible" (ngModelChange)="updateNumeroAmm($event)">
                    </app-produit-field>
                    <div class="text-right numero-amm-select-toggle" *ngIf="numeroAmmByProduct">
                        <button type="button" (click)="toggleNumeroAmmByProduct($event)">
                            <label>Votre produit n'est pas dans la liste ?</label>
                        </button>
                    </div>
                </div>

                <div [ngClass]="{ 'hidden': numeroAmmByProduct}">
                    <app-numero-amm-field [(ngModel)]="traitementIft.numeroAmm" name="numeroAmm" [campagne]="traitementIft.campagne" [culture]="traitementIft.culture"
                        [cible]="traitementIft.cible" (ngModelChange)="updateDoseReference()">
                    </app-numero-amm-field>
                    <div class="text-right numero-amm-select-toggle" *ngIf="!numeroAmmByProduct">
                        <button type="button" (click)="toggleNumeroAmmByProduct($event)">
                            <label>Rechercher un produit</label>
                        </button>
                    </div>
                </div>

                <div class="form-group" *ngIf="numerosAmm">
                    <label id="numeroAmm">Numéro AMM
                        <span *ngIf="required" class="sr-only"> Obligatoire</span>
                    </label>
                    <app-select [(ngModel)]="traitementIft.numeroAmm" (ngModelChange)="updateDoseReference()" [list]="numerosAmm" optionField="idMetier"
                        [filter]="false" [required]="true" name="numeroAmm" aria-labelledby="numeroAmm" placeholder="Numéro AMM"></app-select>
                </div>

                <app-cible-field [(ngModel)]="traitementIft.cible" name="cible" [campagne]="traitementIft.campagne" [culture]="traitementIft.culture"
                    [numeroAmm]="traitementIft.numeroAmm" (ngModelChange)="updateDoseReference()"></app-cible-field>
                </div>
            </div>
        </div>

        <div class="row" [ngClass]="{ 'hidden': !doseReference && !isTraitementAvantSemis()}">
            <div class="col-md-10 col-md-offset-1 ift-block">

                <div class="form-group" [ngClass]="{ 'hidden': isTraitementAvantSemis()}">
                    <label id="dose-appliquee">Dose appliquée</label>
                    <input [(ngModel)]="traitementIft.dose" type="text" name="dose-appliquee" aria-labelledby="dose-appliquee" placeholder="Dose appliquée"
                        class="form-control input-lg input-numeric" />
                    <label id="unite-appliquee" class="sr-only">Unité appliquée</label>
                    <app-select [(ngModel)]="traitementIft.unite" name="unite-appliquee" [list]="unites" optionField="libelle" [filter]="false"
                        class="input-unite" aria-labelledby="unite-appliquee" placeholder="Unité"></app-select>
                </div>

                <div class="form-group" [ngClass]="{ 'hidden': isTraitementAvantSemis()}">
                    <label id="dose-reference">Dose de référence</label>
                    <input [ngModel]="doseReference ? doseReference.dose : ''" name="dose-reference" aria-labelledby="dose-reference" class="form-control input-lg input-numeric"
                        disabled/>
                    <label id="unite-reference" class="sr-only">Unité référence</label>
                    <input [ngModel]="doseReference && doseReference.unite ? doseReference.unite.libelle : ''" name="unite-reference" aria-labelledby="unite-reference"
                        class="form-control input-lg input-unite" disabled>
                </div>

                <div class="form-group" [ngClass]="{ 'hidden': !volumeDeBouillieNeeded() || isTraitementAvantSemis()}">
                    <label id="volume-bouillie">Volume de bouillie</label>
                    <input [(ngModel)]="traitementIft.volumeDeBouillie" type="text" class="form-control input-lg input-numeric" name="volume-bouillie"
                        aria-labelledby="volume-bouillie" placeholder="Volume de bouillie" />
                    <label id="unite-volume-de-bouillie" class="sr-only">Unité du volume de bouillie</label>
                    <input value="L/HA" name="unite-volume-de-bouillie" aria-labelledby="unite-volume-de-bouillie" class="form-control input-lg input-unite"
                        disabled>
                </div>

                <app-surface-field class="form-field" [(ngModel)]="traitementIft.facteurDeCorrection" name="facteur-de-correction" [traitement]="traitementIft.traitement"></app-surface-field>

            </div>
        </div>
        <div class="row" [ngClass]="{ 'hidden': !form.valid && !isTraitementAvantSemis()}">
            <div class="col-md-10 col-md-offset-1 ift-block" *ngIf="traitementIftResult">
                <h3>IFT du traitement</h3>

                <div class="result-traitement-ift">
                    <app-gauge [percentage]="getPercentage(traitementIftResult.ift)"></app-gauge>
                    <div class="value-traitement-ift">{{ +traitementIftResult.ift.toFixed(2) }}</div>
                </div>

                <div class="value-segment" *ngIf="traitementIftResult.segment">Sur segment {{ traitementIftResult.segment.libelle }}</div>
                <p class="avertissement" *ngIf="traitementIftResult.avertissement">{{ traitementIftResult.avertissement.libelle }}</p>
                <div *ngIf="withSignature" class="text-right view-signature-electronique">
                    <button type="button" (click)="generateSignatureElectronique()">
                        <label>Signé électroniquement
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </label>
                    </button>
                </div>
                <p *ngIf="signature" style="word-wrap:break-word;">{{ signature }}</p>
            </div>
        </div>
    </div>
</form>