<small [style.display]="(ctrl.invalid && ctrl.touched) ? '' : 'none'" class="text-danger">La sélection est obligatoire</small>
<input [name]="name" [id]="name"
type="text" class="form-control input-lg"
autocomplete="off"
[placeholder]="placeholder || ''"
[required]="required"
[readonly]="readonly"
[(ngModel)]="term"
[formControl]="ctrl"
(focus)="onFocus($event)"
(keydown)="inputElKeyHandler($event)"
(blur)="onBlur($event)"/>

<div class="suggestions" [style.display]="dropdownVisible ? '' : 'none'">
    <ul class="dropdown-menu">
        <li *ngIf="isLoading" class="loading">
            <a class="dropdown-item"><i class="fa fa-spinner fa-spin"></i> Recherche en cours</a>
        </li>
        <li *ngIf="filteredList.length === 0 && !isLoading">
            <a class="dropdown-item">Aucun résultat trouvé</a>
        </li>
        <ng-container *ngIf="!isLoading">
            <li *ngFor="let item of filteredList; let i=index">
                <a class="dropdown-item"
                    (mousedown)="selectOne(item)"
                    [ngClass]="{ 'active': i === itemIndex }" [innerHTML]="highlight(item[optionField])"></a>
            </li>
        </ng-container>
    </ul>
</div>