<footer>
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h1>Le ministère</h1>
        <ul>
          <li>
            <a href="http://agriculture.gouv.fr" target="_blank" title="Ministère de l'Agriculture et de l'Alimentation - ouvre dans une nouvelle fenêtre">Ministère de l'Agriculture et de l'Alimentation</a>
          </li>
          <li>
            <a href="http://agriculture.gouv.fr/mots-cles/dgpe" target="_blank" title="Direction générale de la performance économique et environnementale des entreprises - ouvre dans une nouvelle fenêtre">Direction générale de la performance économique et environnementale des entreprises</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h1>Traitements phytosanitaires</h1>
        <ul>
            <li>
                <a href="http://agriculture.gouv.fr/indicateur-de-frequence-de-traitements-phytosanitaires-ift" target="_blank" title="Indicateur de fréquence de traitements - ouvre dans une nouvelle fenêtre">Indicateur de fréquence de traitements</a>
            </li>
            <li>
                <a href="https://ephy.anses.fr/" target="_blank" title="Catalogue des produits phytosanitaires - ouvre dans une nouvelle fenêtre">Catalogue des produits phytosanitaires</a>
            </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <h1>IFT</h1>
        <ul>
          <li>
            <a href="/mentions-legales">Mentions légales</a>
          </li>
          <li>
            <a href="mailto:agrilab@agriculture.gouv.fr" id="besoin-aide">Besoin d'aide ?</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <h1>Suivez-nous</h1>
        <ul class="follow-us">
          <li>
            <a aria-label="Twitter" href="https://twitter.com/Min_Agriculture" target="_blank" title="Twitter - ouvre dans une nouvelle fenêtre">
                <span aria-hidden="true" class="fa fa-twitter-square"></span>
                <span class="sr-only">Twitter</span>
            </a>
          </li>
          <li>
            <a aria-label="Facebook" href="https://www.facebook.com/alimagri" target="_blank" title="Facebook - ouvre dans une nouvelle fenêtre">
                <span aria-hidden="true" class="fa fa-facebook-square"></span>
                <span class="sr-only">Facebook</span>
            </a>
          </li>
          <li>
            <a aria-label="Youtube" href="https://www.youtube.com/user/alimagriculture" target="_blank" title="Youtube - ouvre dans une nouvelle fenêtre">
                <span aria-hidden="true" class="fa fa-youtube-square"></span>
                <span class="sr-only">Youtube</span>
            </a>
          </li>
          <li>
            <a aria-label="Tumblr" href="http://minagri-infographies.tumblr.com/" target="_blank" title="Tumblr - ouvre dans une nouvelle fenêtre">
                <span aria-hidden="true" class="fa fa-tumblr-square"></span>
                <span class="sr-only">Tumblr</span>
            </a>
            
          </li>
        </ul>
        <a aria-label="Ecophyto" href="http://agriculture.gouv.fr/ecophyto-continuer-la-mobilisation-pour-reduire-lutilisation-des-produits-phytopharmaceutiques"
            target="_blank" title="Ecophyto - ouvre dans une nouvelle fenêtre">
            <img alt="Ecophyto" class="img-ecophyto" src="assets/img/ecophyto.png">
        </a>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center realise-par">
            <p>
                Réalisé par la Sous Direction des Systèmes d'Information du SG du ministère
                avec le soutien financier de l'Agence Française pour la Biodiversité &nbsp;&nbsp;<i aria-hidden="true" class="fa fa-paper-plane"></i>
            </p>
        </div>
    </div>

  </div>
</footer>
