<footer>
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h1>Le ministère</h1>
        <ul>
          <li>
            <a href="http://agriculture.gouv.fr" target="_blank" rel="noopener" title="Ministère de l'Agriculture et de l'Alimentation - ouvre dans une nouvelle fenêtre">Ministère de l'Agriculture et de l'Alimentation</a>
          </li>
          <li>
            <a href="http://agriculture.gouv.fr/mots-cles/dgpe" target="_blank" rel="noopener" title="Direction générale de la performance économique et environnementale des entreprises - ouvre dans une nouvelle fenêtre">Direction générale de la performance économique et environnementale des entreprises</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h1>Traitements phytopharmaceutiques</h1>
        <ul>
          <li>
            <a href="http://agriculture.gouv.fr/indicateur-de-frequence-de-traitements-phytosanitaires-ift" target="_blank" rel="noopener" title="Indicateur de fréquence de traitements - ouvre dans une nouvelle fenêtre">Indicateur de fréquence de traitements</a>
          </li>
          <li>
            <a href="https://ephy.anses.fr/" target="_blank" rel="noopener" title="Catalogue des produits phytopharmaceutiques - ouvre dans une nouvelle fenêtre">Catalogue des produits phytopharmaceutiques</a>
          </li>
          <li>
            <a href="http://agriculture.gouv.fr/la-reglementation-des-produits-phytosanitaires" target="_blank" rel="noopener" title="Réglementation des produits phytopharmaceutiques - ouvre dans une nouvelle fenêtre">Réglementation des produits phytopharmaceutiques</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <h1>IFT</h1>
        <ul>
          <li>
            <a [routerLink]="['/mentions-legales']">Mentions légales</a>
          </li>
          <li>
            <a [routerLink]="['/faq']">F.A.Q.</a>
          </li>
          <li>
            <a href="mailto:calculette-ift.dgpaat@agriculture.gouv.fr" id="besoin-aide">Besoin d'aide ?</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2">
        <h1>Suivez-nous</h1>
        <ul class="follow-us">
          <li>
            <a aria-label="Twitter" href="https://twitter.com/Min_Agriculture" target="_blank" rel="noopener" title="Twitter - ouvre dans une nouvelle fenêtre">
              <span aria-hidden="true" class="icon icon-twitter-square"></span>
              <span class="sr-only">Twitter</span>
            </a>
          </li>
          <li>
            <a aria-label="Facebook" href="https://www.facebook.com/alimagri" target="_blank" rel="noopener" title="Facebook - ouvre dans une nouvelle fenêtre">
              <span aria-hidden="true" class="icon icon-facebook-square"></span>
              <span class="sr-only">Facebook</span>
            </a>
          </li>
          <li>
            <a aria-label="Youtube" href="https://www.youtube.com/user/alimagriculture" target="_blank" rel="noopener" title="Youtube - ouvre dans une nouvelle fenêtre">
              <span aria-hidden="true" class="icon icon-youtube-square"></span>
              <span class="sr-only">Youtube</span>
            </a>
          </li>
          <li>
            <a aria-label="Tumblr" href="http://minagri-infographies.tumblr.com/" target="_blank" rel="noopener" title="Tumblr - ouvre dans une nouvelle fenêtre">
              <span aria-hidden="true" class="icon icon-tumblr-square"></span>
              <span class="sr-only">Tumblr</span>
            </a>

          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center realise-par">
        <p>
          Réalisé par la Sous Direction des Systèmes d'Information du SG du ministère avec le soutien financier de l'Agence Française
          pour la Biodiversité &nbsp;&nbsp;
          <i aria-hidden="true" class="icon icon-paper-plane"></i>
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row logos">
      <div class="col-xs-12 text-center">
        <div>
          <a aria-label="Ecophyto" href="http://agriculture.gouv.fr/ecophyto-continuer-la-mobilisation-pour-reduire-lutilisation-des-produits-phytopharmaceutiques"
            target="_blank" rel="noopener" title="Ecophyto - ouvre dans une nouvelle fenêtre">
            <img alt="Ecophyto" class="img-ecophyto" src="assets/img/ecophyto.png">
          </a>
        </div>
        <div>
          <img alt="Agence Française pour la Biodiversité" class="img-ecophyto" src="assets/img/afb.jpg">
        </div>
        <div>
          <img alt="Ministère de la Transition Écologique et Solidaire - Ministère de l'Agriculture et de l'Alimentation" class="img-ecophyto"
            src="assets/img/maa_mtes.jpg">
        </div>
      </div>
    </div>
  </div>
</footer>