@import '../styles/vars';

:host {
    display: inline-block;
}

.navbar.navbar-custom {
    margin-bottom: 0;
    
    >.container {
        .navbar-header {
            .navbar-toggle {
                padding: 4px 6px;
                font-size: 1em;
                color: #636363;
            }
            .navbar-left img {
                width: 70px;
                margin: .2em .5em;
                float: left;
            }
            .navbar-brand {
                font-weight: 700;
                height: 50px;
                padding: 10px 5px;
                line-height: 20px;
                margin: 0px 0px;
                h1 {
                    margin: 0px 0px;
                    color: #636363;
                    font-size: 1.4em;
                }
                @media(max-width: 767px) {
                    max-width: calc(100% - 94px - 30px - 10px);
                    p {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }
        }
        .nav li {
            a {
                transition: background .3s ease-in-out;
            }
            a:hover,
            a:focus,
            &.active {
                background-color: #E6E6E6;
            }
        }
        ul.nav.navbar-nav {
            li {
                a {
                    font-size: 0.85em;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
            ul.dropdown-menu {
                border-radius: 0;
                li {
                    border-bottom: 1px solid #f5f5f5;
                    &:last-child {
                        border-bottom: none;
                    }
                    a {
                        padding: 10px 20px;
                        &:hover,
                        &:focus {
                            background-color: #E6E6E6;
                            color: #333
                        }
                    }
                    &.open>a {
                        background-color: #E6E6E6;
                    }
                }
            }
        }
    }
    &.top-nav-collapse {
        background: white;
        >.container {
            ul.nav.navbar-nav {
                li {
                    a {
                        transition: all .2s ease-in-out;
                        color: #636363;
                    }
                    &.open>a {
                        background-color: rgba(255, 255, 255, .2);
                    }
                }
            }
        }
    }
}


/* Logo Bêta */

.logo-beta {
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    right: -35px;
    width: 150px;
    background-color: $primary_color;
    color: white;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 1031;
    top: 26px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* Service expérimental */

.bandeau {
    width: 100%;
    background: #fff;
    padding: 14px 14px 14px 14px;
    color: #333;
    z-index: 5;
}

.bandeau .bandeau-content {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.bandeau .bandeau-content span {
    margin: 0 10px;
}

.bandeau strong {
    font-weight: 700;
}

button.no-style {
    background-color: transparent;
    border: none;
}

p.small {
    font-size: 0.6em;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 0;
    color: #636363;
}

.no-style a strong {
    color: $primary_color;
}