<section class="main-section bg-gray">
    <div class="container container-ift">
        <div class="espace-partenaire">
            <p><i class="fa fa-question-circle fa-2x" aria-hidden="true"></i>&nbsp;&nbsp; Les données publiques d'IFT sont réutilisables dans le cadre de la politique d'Open Data
                défini sur le site
                <a href="https://www.data.gouv.fr/fr/" target="_blank" title="data.gouv.fr - ouvre dans une nouvelle fenêtre">data.gouv.fr</a>. La licence applicable est la
                <a href="https://www.etalab.gouv.fr/licence-ouverte-open-licence" target="_blank" title="licence ouverte - ouvre dans une nouvelle fenêtre">licence ouverte</a>.</p>

            <p>Par souci de transparence et de qualité des sources, vous devez spécifier la paternité des données lors de toute
                réutilisation :</p>

            <ul>
                <li>Ministère de l'agriculture et de l'alimentation</li>
                <li>Direction générale de la performance économique et environnementale des entreprises / Service Compétitivité
                    et performance environnementale / Sous-direction Performance environnementale et valorisation des territoires
                    / Bureau Eau, sols et économie circulaire</li>
                <li>IFT - Campagne concernée</li>
            </ul>

            <h1>Découvrez notre API</h1>
            <p><a href="{{ apiUrl }}" target="_blank" title="Accédez à la documentation de notre API - ouvre dans une nouvelle fenêtre">Accédez à la documentation de notre API</a></p>
        </div>
    </div>
</section>