<div class="modal-header">
    <h1 class="modal-title pull-left">Attention</h1>
    <div class="close">
        <button type="button" class="btn" (click)="bsModalRef.hide()" aria-label="Fermer la fenêtre modale">
            <i class="icon icon-times" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class="modal-body">
    Suite à une mise à jour, l'ensemble de vos traitements stocké sur votre navigateur va être supprimé.
</div>
<div class="modal-footer">
    <button class="btn btn-default" (click)="bsModalRef.hide()">J'ai compris</button>
</div>